@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 1024px;
  }

  .submitButton {
    width:100%;
  }

  .infoBlock, .movieHeaders {
    font-size:85%;
  }

  .poster {
    max-width:250px;
  }

  .resultButtons {
    width:55%;
  }

  .movieInfo {
    padding: 0 0 0 25px;
    width: calc(100% - 250px);
  }

  .resultsContainer {
    padding: 60px 20px 0;
  }
}
