@media screen and (max-width: 1024px) {
  /*  COMMON OBJECTS  */

  .wrapper {
    max-width: 1024px;
  }

  /*  HEADER  */

  header {
    flex-direction: column;
  }

  .popcornLogo {
    height: 150px;
    min-width: 250px;
  }

  .popcornLabelImage {
    background-position: center;
    margin-left: 0;
    &::after {
      right: 0;
      bottom: -55px;
      left: unset;
    }
  }

  .checkBoxTrash:checked + .popcornLabelImage {
    background-position-x: 50px;
    background-size: 250px;
  }

  /*  FIRST SECTION */

  .searchForm {
    margin-top: 80px;
  }

  .submitButton {
    width: 100%;
  }

  /*  SECOND SECTION  */

  .infoBlock,
  .movieHeaders {
    font-size: 85%;
  }

  .poster {
    max-width: 250px;
  }

  .resultButtons {
    width: 55%;
  }

  .movieInfo {
    padding: 0 0 0 25px;
    width: calc(100% - 250px);
  }

  .resultsContainer {
    padding: 60px 20px 0;
  }
}
