@media screen and (max-width: 420px) {
  /*  COMMON OBJECTS  */

  .wrapper {
    max-width: 420px;
    min-width: 360px;
  }

  /*  SECOND SECTION  */

  .popcornRating {
    left: -150px;
    bottom: -25px;
  }
}
