@media screen and (max-width: 768px) {
  /*  COMMON OBJECTS  */

  .wrapper {
    max-width: 768px;
  }

  /*  HEADER  */

  header {
    min-height: 300px;
    h1 {
      line-height: 70px;
      padding-bottom: 20px;
    }
    h2 {
      font-size: 0.8em;
      line-height: 22px;
      width: 80%;
    }
  }

  .headerMoveUp {
    min-height: 150px;
    h2 {
      line-height: 22px;
    }
  }

  .headerText {
    padding-top: 50px;
  }

  .popcornLogo {
    min-width: 100%;
  }

  .popcornLabelImage::after {
    bottom: -60px;
    opacity: 1;
    right: calc(50% - 100px);
  }

  .checkBoxTrash:checked + .popcornLabelImage {
    background-position-x: calc(50% + 25px);
    background-size: contain;
  }

  /*  MAIN  */

  main {
    min-height: calc(100vh - 480px);
  }

  /*  FIRST SECTION */

  form {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 300px;
    margin-top: 60px;
  }

  select {
    font-size: 0.8em;
    width: 100%;
    order: 1;
  }

  .oldNew {
    order: 0;
    left: 50px;
    width: 100px;
  }

  .submitButton {
    order: 2;
    margin: 0;
    width: 100%;
  }

  /*  SECOND SECTION  */

  .resultsContainer {
    flex-direction: column;
  }
  .poster {
    margin: 0 auto;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.3);
  }
  .movieInfo {
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }
  .movieHeaders {
    align-self: center;
  }
  .genreBlock,
  .overviewBlock {
    flex-direction: column;
  }
  .resultGenre {
    margin: 5px 0 0;
    align-self: flex-start;
  }
  .resultButtons {
    width: 95%;
    flex-wrap: wrap;
  }
  .resultButton {
    margin: 15px 15px;
    width: 100%;
  }
}
