* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

/*  BASE STYLES */
html {
  font: 125% "Overpass", sans-serif;
  background-color: #000;
  color: #fff;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../assets/grey.jpg");
  background-image: -webkit-linear-gradient(transparent, transparent), url("../assets/grey.jpg");
  background-image: -o-linear-gradient(transparent, transparent), url("../assets/grey.jpg");
  background-image: linear-gradient(transparent, transparent), url("../assets/grey.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 1rem;
  -webkit-transition: background-image 0.8s;
  -o-transition: background-image 0.8s;
  transition: background-image 0.8s;
}

img {
  max-width: 100%;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
main,
article,
section,
footer {
  /* RESET  */
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Baloo Bhai", cursive;
  text-align: center;
  font-size: 4em;
}

h2,
h3,
h4,
h5,
h6,
p,
label,
input {
  font-family: "Overpass", sans-serif;
}

h2 {
  text-align: center;
  line-height: 35px;
  font-size: 1.2em;
}

h3,
h4,
h5 {
  display: inline;
}

/*  COMMON OBJECTS  */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 80%;
  margin: 30px auto 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 3% 5%;
}

form select,
form label::before,
form button {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

form label {
  text-shadow: 0 0 30px #000;
}

section {
  opacity: 1;
  -webkit-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  transition: opacity 0.8s;
}

select {
  width: 60%;
  height: 50px;
  border-radius: 45px;
  text-align-last: center;
  border: none;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../assets/navarrow.svg"), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.7)));
  background-image: url("../assets/navarrow.svg"), -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
  background-image: url("../assets/navarrow.svg"), -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
  background-image: url("../assets/navarrow.svg"), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
  background-repeat: no-repeat;
  background-position: 95%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

select:hover {
  background-image: url("../assets/navarrow.svg"), -webkit-gradient(linear, left top, left bottom, from(rgba(122, 148, 202, 0.6)), to(rgba(122, 148, 202, 0.2)));
  background-image: url("../assets/navarrow.svg"), -webkit-linear-gradient(rgba(122, 148, 202, 0.6), rgba(122, 148, 202, 0.2));
  background-image: url("../assets/navarrow.svg"), -o-linear-gradient(rgba(122, 148, 202, 0.6), rgba(122, 148, 202, 0.2));
  background-image: url("../assets/navarrow.svg"), linear-gradient(rgba(122, 148, 202, 0.6), rgba(122, 148, 202, 0.2));
  border-color: rgba(255, 255, 255, 0.2);
}

select:active {
  background-image: url("../assets/navarrow.svg"), -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
  background-image: url("../assets/navarrow.svg"), -webkit-linear-gradient(#000, #444);
  background-image: url("../assets/navarrow.svg"), -o-linear-gradient(#000, #444);
  background-image: url("../assets/navarrow.svg"), linear-gradient(#000, #444);
  border-color: rgba(0, 0, 0, 0.7);
}

select option {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  text-transform: capitalize;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

/*==========================================================================

  NO SKIP BOX, WOULDN'T HAVE A PURPOSE

==========================================================================*/
/*  HEADER  */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 350px;
  max-width: 82%;
  margin: 0 auto;
  min-width: 360px;
}

header h2 {
  margin: 0 auto;
}

.headerText {
  margin: 0 auto;
}

.popcornLogo {
  margin-left: 40px;
  height: 200px;
  min-width: 320px;
  position: relative;
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.popcornLabelImage {
  background-image: url("../assets/trashicon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  display: block;
  height: 100%;
  position: relative;
}

.popcornLabelImage::after {
  content: '"Gimme something trashy"';
  bottom: -60px;
  font-size: 0.8em;
  text-shadow: 0 0 10px black;
  color: #17f;
  position: absolute;
  left: 50px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 0.225px;
  width: 245px;
  text-align: center;
  opacity: 0;
}

.popcornLabelImage:hover::after {
  opacity: 1;
}

input.checkBoxTrash:checked + .popcornLabelImage {
  background-image: url("../assets/qualityicon.svg");
}

input.checkBoxTrash:checked + .popcornLabelImage::after {
  content: '"I wanna watch a good movie"';
}

/*  MAIN  */
main {
  min-height: calc(100vh - 500px);
  margin-bottom: 80px;
  height: 100%;
  position: relative;
}

/*  SECTIONS  */
/*  FIRST SECTION */
.oldNew {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 40%;
}

label {
  position: relative;
  line-height: 45px;
  margin: 4px 0px 0px 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkBoxOld {
  right: 105px;
}

.checkBoxOld::before {
  content: "";
  background-color: #ccc;
  border-radius: 50px;
  position: absolute;
  width: 85px;
  height: 40px;
  right: -105px;
  top: 0;
  display: block;
  -webkit-transition: background-color 0.2s, right 0.2s;
  -o-transition: background-color 0.2s, right 0.2s;
  transition: background-color 0.2s, right 0.2s;
}

.checkBoxOld::after {
  content: "";
  border-radius: 50px;
  background-color: #fff;
  display: block;
  top: 5px;
  right: -55px;
  width: 30px;
  height: 30px;
  position: absolute;
  -webkit-transition: right 0.25s;
  -o-transition: right 0.25s;
  transition: right 0.25s;
  overflow: visible;
}

.checkBoxAge:checked + .checkBoxOld::before {
  background-color: #7a94ca;
}

.checkBoxAge:active + .checkBoxOld::before {
  background-color: #17f;
}

.checkBoxAge:checked + .checkBoxOld::after {
  right: -100px;
}

.submitButton,
.resultButton {
  border: none;
  padding: 15px;
  min-width: 200px;
  border-radius: 50px;
  color: white;
  background-color: #17f;
  text-align: center;
}

.submitButton:hover:not(:active),
.resultButton:hover:not(:active) {
  -webkit-transform: scale(1.015);
  -ms-transform: scale(1.015);
  transform: scale(1.015);
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.resultButton {
  width: 30%;
}

.submitButton {
  margin: 70px 0 35px;
  width: 80%;
}

/*  SECOND SECTION  */
.resultsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 60px 40px 0;
  position: relative;
}

.movieInfo {
  padding: 0 60px;
  width: calc(100% - 400px);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.poster {
  max-width: 400px;
  height: 100%;
  -webkit-box-shadow: 10px 10px 10px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 10px 8px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  margin-top: 20px;
}

.poster img {
  border-radius: 15px;
  z-index: 1;
}

.movieHeaders {
  font-size: 2em;
  max-width: 100%;
  max-height: 100%;
  padding: 10px 30px 25px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin-bottom: 20px;
}

.banner {
  position: absolute;
  opacity: 0;
  height: calc(100% + 80px);
  width: 100%;
  overflow: hidden;
  z-index: 0;
  left: 0;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(25%, #000));
  -webkit-mask-image: -webkit-linear-gradient(transparent, #000 25%);
  -webkit-mask-repeat: no-repeat;
  pointer-events: none;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.bannerOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(35%, rgba(0, 0, 0, 0.8)), color-stop(90%, transparent));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8) 35%, transparent 90%);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.8) 35%, transparent 90%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8) 35%, transparent 90%);
}

.bannerImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.movieTitle {
  color: #17f;
  position: relative;
  z-index: 2;
  top: 10px;
}

.movieYear {
  padding-left: 5px;
  position: relative;
  z-index: 2;
  top: 10px;
}

.movieYear::before {
  content: "(";
}

.movieYear::after {
  content: ")";
}

.movieDetails {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 20px;
}

.infoBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.infoBlock::before {
  font-style: normal;
  font-weight: 600;
  min-width: 130px;
  max-width: 130px;
}

.infoBlock p {
  font-size: 0.8rem;
  margin: 0;
}

.infoBlock::before {
  color: #ccc;
}

.genreBlock {
  text-transform: capitalize;
  font-style: italic;
}

.genreBlock::before {
  content: "Genre: ";
}

.overviewBlock::before {
  content: "Synopsis: ";
}

.languageBlock::before {
  content: "Original Language: ";
}

.ratingBlock {
  padding-bottom: 4px;
  margin-bottom: 0;
  position: relative;
}

.ratingBlock::before {
  content: "User Rating: ";
}

.popcornRating {
  position: relative;
  height: 25px;
  left: 20px;
  background-image: url("../assets/rating.png");
  background-size: 180px;
  background-repeat: no-repeat;
  width: 180px;
}

.resultGenre,
.resultRating {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.resultOverview {
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-size: 1rem;
}

.resultLanguage {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.resultButtons {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40%;
  margin: 60px auto 20px;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #0e0e0e;
  color: #fff;
  height: 40px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  bottom: 0;
}

/*  RELATIVE OVERRIDES  */
.expandSection {
  min-height: calc(100vh - 320px);
}

.headerMoveUp {
  min-height: 200px;
  font-size: 0.8em;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.headerMoveUp h2 {
  line-height: 28px;
}

@media screen and (max-width: 1280px) {
  /*  COMMON OBJECTS  */
  .wrapper {
    max-width: 1280px;
  }
  /*  SECOND SECTION  */
  .infoBlock {
    margin: 10px 0;
  }
}

@media screen and (max-width: 1024px) {
  /*  COMMON OBJECTS  */
  .wrapper {
    max-width: 1024px;
  }
  /*  HEADER  */
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .popcornLogo {
    height: 150px;
    min-width: 250px;
  }
  .popcornLabelImage {
    background-position: center;
    margin-left: 0;
  }
  .popcornLabelImage::after {
    right: 0;
    bottom: -55px;
    left: unset;
  }
  .checkBoxTrash:checked + .popcornLabelImage {
    background-position-x: 50px;
    background-size: 250px;
  }
  /*  FIRST SECTION */
  .searchForm {
    margin-top: 80px;
  }
  .submitButton {
    width: 100%;
  }
  /*  SECOND SECTION  */
  .infoBlock,
  .movieHeaders {
    font-size: 85%;
  }
  .poster {
    max-width: 250px;
  }
  .resultButtons {
    width: 55%;
  }
  .movieInfo {
    padding: 0 0 0 25px;
    width: calc(100% - 250px);
  }
  .resultsContainer {
    padding: 60px 20px 0;
  }
}

@media screen and (max-width: 768px) {
  /*  COMMON OBJECTS  */
  .wrapper {
    max-width: 768px;
  }
  /*  HEADER  */
  header {
    min-height: 300px;
  }
  header h1 {
    line-height: 70px;
    padding-bottom: 20px;
  }
  header h2 {
    font-size: 0.8em;
    line-height: 22px;
    width: 80%;
  }
  .headerMoveUp {
    min-height: 150px;
  }
  .headerMoveUp h2 {
    line-height: 22px;
  }
  .headerText {
    padding-top: 50px;
  }
  .popcornLogo {
    min-width: 100%;
  }
  .popcornLabelImage::after {
    bottom: -60px;
    opacity: 1;
    right: calc(50% - 100px);
  }
  .checkBoxTrash:checked + .popcornLabelImage {
    background-position-x: calc(50% + 25px);
    background-size: contain;
  }
  /*  MAIN  */
  main {
    min-height: calc(100vh - 480px);
  }
  /*  FIRST SECTION */
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 300px;
    margin-top: 60px;
  }
  select {
    font-size: 0.8em;
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .oldNew {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    left: 50px;
    width: 100px;
  }
  .submitButton {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin: 0;
    width: 100%;
  }
  /*  SECOND SECTION  */
  .resultsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .poster {
    margin: 0 auto;
    -webkit-box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.3);
  }
  .movieInfo {
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }
  .movieHeaders {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .genreBlock,
  .overviewBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .resultGenre {
    margin: 5px 0 0;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .resultButtons {
    width: 95%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .resultButton {
    margin: 15px 15px;
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  /*  COMMON OBJECTS  */
  .wrapper {
    max-width: 420px;
    min-width: 360px;
  }
  /*  SECOND SECTION  */
  .popcornRating {
    left: -150px;
    bottom: -25px;
  }
}

/*  RELATIVE OVERRIDES  */
.visiblyHidden {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  top: -9999px;
}

.removeBlock {
  display: none;
}

.sectionHidden {
  opacity: 0;
  z-index: -999;
  pointer-events: none;
  overflow: hidden;
}

.capitalize {
  text-transform: capitalize;
}

.upperCase {
  text-transform: uppercase;
}

.bannerFade {
  opacity: .5;
}

.stopScroll {
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(black)), url("../assets/grey.jpg");
  background-image: -webkit-linear-gradient(black, black), url("../assets/grey.jpg");
  background-image: -o-linear-gradient(black, black), url("../assets/grey.jpg");
  background-image: linear-gradient(black, black), url("../assets/grey.jpg");
}
