@import "partials/normalize";

//    HTML LAYOUT MAP

// body>header>h1
// body>main>section.search>.wrapper>form>label
// body>main>section.search>.wrapper>form>select
// body>main>section.search>.wrapper>form>input
// body>main>section.search>.wrapper>form>input
// body>main>section.search>.wrapper>form>button
// body>main>section.result>.wrapper>.resultsContainer>.poster>img
// body>main>section.result>.wrapper>.resultsContainer>.movieHeaders>h2.movieTitle
// body>main>section.result>.wrapper>.resultsContainer>.movieHeaders>h4.movieYear
// body>main>section.result>.wrapper>.resultsContainer>.movieInfo>.infoBlock>h5{Genres}
// body>main>section.result>.wrapper>.resultsContainer>.movieInfo>.infoBlock>p#resultGenre
// body>main>section.result>.wrapper>.resultsContainer>.movieInfo
// body>main>section.result>.wrapper>.resultsContainer>.movieInfo>.infoBlock>h5{Synopsis}
// body>main>section.result>.wrapper>.resultsContainer>.movieInfo>.infoBlock>p#resultOverview
// body>main>section.result>.wrapper>.resultsContainer>.movieInfo
// body>main>section.result>.wrapper>.resultsContainer>.movieInfo>.infoBlock>h5{Original Language}
// body>main>section.result>.wrapper>.resultsContainer>.movieInfo>.infoBlock>p#resultLanguage
// body>main>section.result>.wrapper>.resultsContainer>.movieInfo
// body>main>section.result>.wrapper>.resultsContainer>.movieInfo>.infoBlock>h5{Rating}
// body>main>section.result>.wrapper>.resultsContainer>.movieInfo>.infoBlock>p#resultRating
// body>main>section.result>.wrapper>a.resultButton.anotherMovie#resultAnotherButton
// body>main>section.result>.wrapper>a.resultButton.newSearch#resultNewButton
// body>footer>h6

//  VARIABLES

//  FONTS
$balooFont: "Baloo Bhai", cursive;
$overpassFont: "Overpass", sans-serif;

//  COLOURS

$blueFade: #7a94ca;
$medGrey: #444;
$skyBlue: #17f;
$fieldGreen: #41f344;
$darkGrey: #0e0e0e;
$lightGrey: #999;
$netflixRed: #bd0505;
$trashBrown: #705619;

/*  BASE STYLES */

html {
  font: 125% "Overpass", sans-serif;
  background-color: #000;
  color: #fff;
}

body {
  background-image: url("../assets/grey.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 1rem;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
main,
article,
section,
footer {
  /* RESET  */
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $balooFont;
  text-align: center;
  font-size: 4em;
}

h2,
h3,
h4,
h5,
h6,
p,
label,
input {
  font-family: $overpassFont;
}

h2 {
  // sub header
  text-align: center;
  line-height: 35px;
  font-size: 1.2em;
}

h3,
h4,
h5 {
  display: inline;
}

h5 {
  //infoTitle
}

h6 {
  //footer
}

/*  COMMON OBJECTS  */

form {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 80%;
  margin: 30px auto 0;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3% 5%;
  select,
  label::before,
  button {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  }
  label {
    text-shadow: 0 0 30px #000;
  }
}

label {
}

section {
  opacity: 1;
  transition: opacity 0.5s;
}

select {
  width: 60%;
  height: 50px;
  border-radius: 45px;
  text-align-last: center;
  border: none;
  color: #fff;
  appearance: none;
  background-image: url("../assets/navarrow.svg"), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
  background-repeat: no-repeat;
  background-position: 95%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  &:hover {
    background-image: url("../assets/navarrow.svg"), linear-gradient(rgba(122, 148, 202, 0.6), rgba(122, 148, 202, 0.2));
    border-color: rgba(255, 255, 255, 0.2);
  }
  &:active {
    background-image: url("../assets/navarrow.svg"), linear-gradient(#000, $medGrey);
    border-color: rgba(0, 0, 0, 0.7);
  }
  option {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    text-transform: capitalize;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

/*  HEADER  */

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: height 0.5s;
  flex-direction: column;
  min-height: 350px;
  width: 700px;
  margin: 0 auto;
}

/*  MAIN  */

main {
  min-height: calc(100vh - 500px);
  margin-bottom: 80px;
  height: 100%;
}
/*  SECTIONS  */

/*  FIRST SECTION */

section.search {
}

.oldNew {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

label {
  position: relative;
  line-height: 45px;
  margin: 4px 0px 0px 15px;
  user-select: none;
}

.checkBoxOld {
  right: 105px;
  &::before {
    content: "";
    background-color: $lightGrey;
    border-radius: 50px;
    position: absolute;
    width: 85px;
    height: 40px;
    right: -105px;
    top: 0;
    display: block;
    transition: background-color 0.2s, right 0.2s;
  }
  &::after {
    content: "";
    border-radius: 50px;
    background-color: #fff;
    display: block;
    top: 5px;
    right: -55px;
    width: 30px;
    height: 30px;
    position: absolute;
    transition: right 0.25s;
    overflow: visible; // Prevents ::after element clipping box boundaries while transitioning
  }
}

.checkBox:checked + .checkBoxOld::before {
  background-color: $blueFade;
}

.checkBox:active + .checkBoxOld::before {
  background-color: $skyBlue;
}

.checkBox:checked + .checkBoxOld::after {
  right: -100px;
}

.submitButton,
.resultButton {
  border: none;
  margin: 70px 0 35px;
  padding: 15px;
  width: 30%;
  min-width: 200px;
  border-radius: 50px;
  color: white;
  background-color: #17f;
  text-align: center;
  &:hover:not(:active) {
    transform: scale(1.015);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  }
}

.search {
}

/*  SECOND SECTION  */

section.result {
}

.resultsContainer {
  display: flex;
  width: 100%;
  padding: 60px 40px 0;
}

.resultButtons {
  display: flex;
  height: 100px;
}

.poster {
  width: 400px;
}

.movieHeaders {
  font-size: 2rem;
  flex-basis: 100%;
}

.movieYear {
  padding-left: 5px;
  &::before {
    content: "(";
  }
  &::after {
    content: ")";
  }
}

.movieInfo {
  padding: 0 60px;
  width: calc(100% - 400px);
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.infoBlock {
  display: flex;
  width: 100%;
  &::before {
    font-style: normal;
    font-weight: 600;
    min-width: 130px;
    max-width: 130px;
  }
  p {
    font-size: 0.8rem;
    margin: 0;
  }
}

.genreBlock {
  text-transform: capitalize;
  font-style: italic;
  &::before {
    content: "Genre: ";
  }
}

.overviewBlock::before {
  content: "Synopsis: ";
}

.languageBlock::before {
  content: "Original Language: ";
}

.ratingBlock {
  padding-bottom: 4px;
  margin-bottom: 0;
  &::before {
    content: "User Rating: ";
  }
  &::after {
    content: "/ 10";
    margin-left: 0.5rem;
    font-size: 0.8rem;
    padding-top: 2px;
  }
}

.resultGenre,
.resultRating {
  align-self: center;
}

.resultOverview {
  align-self: flex-start;
  font-size: 1rem;
}

.resultLanguage {
  align-self: flex-end;
}

.resultButtons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 40%;
  margin: 60px auto 20px;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
  }
  .resultButton {
  }
  .anotherMovie {
  }
  .newSearch {
  }
}

footer {
  justify-content: center;
  background-color: $darkGrey;
  color: #fff;
  height: 40px;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  bottom: 0;
}

/*  RELATIVE OVERRIDES  */

.expandSection {
  min-height: calc(100vh - 320px);
}

.headerMoveUp {
  min-height: 200px;
  font-size: 0.8em;
  h2 {
    line-height: 28px;
  }
}

@import "partials/1280";
@import "partials/1024";
@import "partials/768";
@import "partials/420";
@import "partials/overrides";
