@import "partials/normalize";

//  VARIABLES

//  FONTS
$balooFont: "Baloo Bhai", cursive;
$overpassFont: "Overpass", sans-serif;

//  COLOURS
$blueFade: #7a94ca;
$medGrey: #444;
$skyBlue: #17f;
$fieldGreen: #41f344;
$darkGrey: #0e0e0e;
$lightGrey: #ccc;
$netflixRed: #bd0505;
$trashBrown: #705619;

/*  BASE STYLES */

html {
  font: 125% "Overpass", sans-serif;
  background-color: #000;
  color: #fff;
}

body {
  background-image: linear-gradient(transparent, transparent), url("../assets/grey.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 1rem;
  transition: background-image 0.8s;
}

img {
  max-width: 100%;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
main,
article,
section,
footer {
  /* RESET  */
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $balooFont;
  text-align: center;
  font-size: 4em;
}

h2,
h3,
h4,
h5,
h6,
p,
label,
input {
  font-family: $overpassFont;
}

h2 {
  // sub header
  text-align: center;
  line-height: 35px;
  font-size: 1.2em;
}

h3,
h4,
h5 {
  display: inline;
}

/*  COMMON OBJECTS  */

form {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 80%;
  margin: 30px auto 0;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3% 5%;
  select,
  label::before,
  button {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  }
  label {
    text-shadow: 0 0 30px #000;
  }
}

section {
  opacity: 1;
  transition: opacity 0.8s;
}

select {
  width: 60%;
  height: 50px;
  border-radius: 45px;
  text-align-last: center;
  border: none;
  color: #fff;
  appearance: none;
  background-image: url("../assets/navarrow.svg"), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
  background-repeat: no-repeat;
  background-position: 95%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  &:hover {
    background-image: url("../assets/navarrow.svg"), linear-gradient(rgba(122, 148, 202, 0.6), rgba(122, 148, 202, 0.2));
    border-color: rgba(255, 255, 255, 0.2);
  }
  &:active {
    background-image: url("../assets/navarrow.svg"), linear-gradient(#000, $medGrey);
    border-color: rgba(0, 0, 0, 0.7);
  }
  option {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    text-transform: capitalize;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

/*==========================================================================

  NO SKIP BOX, WOULDN'T HAVE A PURPOSE

==========================================================================*/
 
/*  HEADER  */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 350px;
  max-width: 82%;
  margin: 0 auto;
  min-width: 360px;
  h2 {
    margin: 0 auto;
  }
}

.headerText {
  margin:0 auto;
}

.popcornLogo {
  margin-left: 40px;
  height: 200px;
  min-width: 320px;
  position: relative;
  opacity: 1;
  transition: opacity 0.6s;
}

.popcornLabelImage {
  background-image: url("../assets/trashicon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  display: block;
  height: 100%;
  position: relative;
  &::after {
    content: '"Gimme something trashy"';
    bottom: -60px;
    font-size: 0.8em;
    text-shadow: 0 0 10px black;
    color: #17f;
    position: absolute;
    left: 50px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 0.225px;
    width: 245px;
    text-align: center;
    opacity: 0;
  }
  &:hover::after {
    opacity: 1;
  }
}

input.checkBoxTrash:checked + .popcornLabelImage {
  background-image: url("../assets/qualityicon.svg");
  &::after {
    content: '"I wanna watch a good movie"';
  }
}

/*  MAIN  */

main {
  min-height: calc(100vh - 500px);
  margin-bottom: 80px;
  height: 100%;
  position: relative;
}
/*  SECTIONS  */

/*  FIRST SECTION */

.oldNew {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

label {
  position: relative;
  line-height: 45px;
  margin: 4px 0px 0px 15px;
  user-select: none;
}

.checkBoxOld {
  right: 105px;
  &::before {
    content: "";
    background-color: $lightGrey;
    border-radius: 50px;
    position: absolute;
    width: 85px;
    height: 40px;
    right: -105px;
    top: 0;
    display: block;
    transition: background-color 0.2s, right 0.2s;
  }
  &::after {
    content: "";
    border-radius: 50px;
    background-color: #fff;
    display: block;
    top: 5px;
    right: -55px;
    width: 30px;
    height: 30px;
    position: absolute;
    transition: right 0.25s;
    overflow: visible; // Prevents ::after element clipping box boundaries while transitioning
  }
}

.checkBoxAge:checked + .checkBoxOld::before {
  background-color: $blueFade;
}

.checkBoxAge:active + .checkBoxOld::before {
  background-color: $skyBlue;
}

.checkBoxAge:checked + .checkBoxOld::after {
  right: -100px;
}

.submitButton,
.resultButton {
  border: none;
  padding: 15px;
  min-width: 200px;
  border-radius: 50px;
  color: white;
  background-color: #17f;
  text-align: center;
  &:hover:not(:active) {
    transform: scale(1.015);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  }
}
.resultButton {
  width: 30%;
}

.submitButton {
  margin: 70px 0 35px;
  width: 80%;
}

/*  SECOND SECTION  */

.resultsContainer {
  display: flex;
  width: 100%;
  padding: 60px 40px 0;
  position: relative;
}

.movieInfo {
  padding: 0 60px;
  width: calc(100% - 400px);
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.poster {
  max-width: 400px;
  height: 100%;
  box-shadow: 10px 10px 10px 8px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  margin-top: 20px;
  img {
    border-radius: 15px;
    z-index: 1;
  }
}

.movieHeaders {
  font-size: 2em;
  max-width: 100%;
  max-height: 100%;
  padding: 10px 30px 25px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin-bottom: 20px;
}

.banner {
  position: absolute;
  opacity: 0;
  height: calc(100% + 80px);
  width: 100%;
  overflow: hidden;
  z-index: 0;
  left: 0;
  -webkit-mask-image: linear-gradient(transparent, #000 25%);
  -webkit-mask-repeat: no-repeat;
  pointer-events: none;
  transition: opacity 1s;
}

.bannerOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8) 35%, transparent 90%);
}

.bannerImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.movieTitle {
  color: $skyBlue;
  position: relative;
  z-index: 2;
  top: 10px;
}

.movieYear {
  padding-left: 5px;
  position: relative;
  z-index: 2;
  top: 10px;
  &::before {
    content: "(";
  }
  &::after {
    content: ")";
  }
}

.movieDetails {
  flex-basis: 50%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 20px;
}

.infoBlock {
  display: flex;
  width: 100%;
  &::before {
    font-style: normal;
    font-weight: 600;
    min-width: 130px;
    max-width: 130px;
  }
  p {
    font-size: 0.8rem;
    margin: 0;
  }
  &::before {
    color: $lightGrey;
  }
}

.genreBlock {
  text-transform: capitalize;
  font-style: italic;
  &::before {
    content: "Genre: ";
  }
}

.overviewBlock::before {
  content: "Synopsis: ";
}

.languageBlock::before {
  content: "Original Language: ";
}

.ratingBlock {
  padding-bottom: 4px;
  margin-bottom: 0;
  position: relative;
  &::before {
    content: "User Rating: ";
  }
}

.popcornRating {
  position: relative;
  height: 25px;
  left: 20px;
  background-image: url("../assets/rating.png");
  background-size: 180px;
  background-repeat: no-repeat;
  width: 180px;
}

.resultGenre,
.resultRating {
  align-self: center;
}

.resultOverview {
  align-self: flex-start;
  font-size: 1rem;
}

.resultLanguage {
  align-self: flex-end;
}

.resultButtons {
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin: 60px auto 20px;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  justify-content: center;
  background-color: $darkGrey;
  color: #fff;
  height: 40px;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  bottom: 0;
}

/*  RELATIVE OVERRIDES  */

.expandSection {
  min-height: calc(100vh - 320px);
}

.headerMoveUp {
  min-height: 200px;
  font-size: 0.8em;
  h2 {
    line-height: 28px;
  }
  transition: all 1s;
}

@import "partials/1280";
@import "partials/1024";
@import "partials/768";
@import "partials/420";
@import "partials/overrides";
